In [1]:
import pandas as pd

In [7]:
df=pd.read_csv('Student.csv')
df.head()

   hours_studied  attendance result
0              2          60   Fail
1              4          70   Fail
2              6          75   Pass
3              8          85   Pass
4             10          90   Pass

In [8]:
df.shape

(7, 3)

In [21]:
X=df[['hours_studied','attendance']]
y=df['result']

In [42]:
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score, confusion_matrix

In [43]:
le=LabelEncoder()
df['result']=le.fit_transform(df['result'])
df.head()

   hours_studied  attendance  result
0              2          60       0
1              4          70       0
2              6          75       1
3              8          85       1
4             10          90       1

In [44]:
logreg = LogisticRegression()

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=16)

In [46]:
logreg.fit(X_train, y_train)

y_pred = logreg.predict(X_test)
X_test

   hours_studied  attendance
2              6          75
4             10          90

In [47]:
y_test

2    1
4    1
Name: result, dtype: int32

In [49]:
a=accuracy_score(y_pred,y_test)*100
a

100.0

In [51]:
cm=confusion_matrix(y_pred,y_test)
cm

array([[2]], dtype=int64)

In [52]:
hours=int(input("hours_studied:"))
attendance=int(input("Attendance:"))

hours_studied:5
Attendance:78

In [54]:
new_val=logreg.predict([[hours,attendance]])
new_val

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1])